@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

body {
  background-color: white; /* Cor de fundo do corpo */
  font-family: "Oswald", sans-serif; /* Fonte */
}

a {
  color: #7e51df; /* cor do texto dos links */
}

a:hover {
  color: #864dbb; /* cor do texto quando colocado mouse em cima dos links */
}

.navbar {
  background-color: #8562ff; /* Cor de fundo da barra de navegação */
}

.nav-link {
  color: inherit, #ffffff; /* Cor do texto dos links na barra de navegação */
}

.sidebar {
  background-color: #f5f0ff; /* Cor de fundo da barra lateral */
  border-right: 1px solid #ced4da; /* Borda direita da barra lateral */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
  color: inherit;
}

.nav.flex-column .nav-link {
  color: #343a40; /* Cor do texto dos links na barra lateral */
}

.navbar {
  background-color: #7e51df; /* Cor de fundo da navbar */
}

.navbar-brand {
  color: #fff; /* Cor do texto do logo */
}

.navbar-nav .nav-link {
  color: #fff; /* Cor do texto dos links */
}

.navbar-nav .nav-link:hover {
  color: #ccc; /* Cor do texto dos links ao passar o mouse */
}

.navbar-toggler-icon {
  background-color: #fff; /* Cor do ícone do toggler */
}

.navbar-toggler {
  border-color: #fff; /* Cor da borda do toggler */
}

.main-content {
  background-color: #ffffff; /* Cor de fundo do conteúdo principal */
  border-left: 1px solid #ced4da; /* Borda esquerda do conteúdo principal */
}

/* Estilo para o conteúdo central */
.main-content {
  padding: 20px;
}

/* Estilo para os cards */
.card {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
}
