@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

body {
  background-color: white; /* Cor de fundo do corpo */
  font-family: "Oswald", sans-serif; /* Fonte */
}

.navbar {
  background-color: #8562ff; /* Cor de fundo da barra de navegação */
}

.nav-link {
  color: #ffffff; /* Cor do texto dos links na barra de navegação */
}

.sidebar {
  background-color: #f5f0ff; /* Cor de fundo da barra lateral */
  border-right: 1px solid #ced4da; /* Borda direita da barra lateral */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
}

.nav.flex-column .nav-link {
  color: #343a40; /* Cor do texto dos links na barra lateral */
}

.main-content {
  background-color: #ffffff; /* Cor de fundo do conteúdo principal */
  border-left: 1px solid #ced4da; /* Borda esquerda do conteúdo principal */
}

/* Estilo para o conteúdo central */
.main-content {
  padding: 20px;
}

/* Estilo para o container dos cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Estilo para os cards */
.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título dos cards */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

/* Estilo para o conteúdo dos cards */
.card-content {
  color: #666666;
}
