@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

body {
  background-color: #f8f9fa; /* Cor de fundo do corpo */
  font-family: "Sanchez", sans-serif;
}

.container {
  margin-top: 50px; /* Espaçamento superior */
}

.card {
  border: 1px solid #ced4da; /* Borda do cartão */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
  background: #f8f6ff; /* Background da área de login */
}

.card-body {
  padding: 40px; /* Preenchimento interno */
}

.form-group {
  margin-bottom: 20px; /* Espaçamento entre os campos */
}

label {
  font-weight: 500; /* Peso da fonte */
}

.btn-primary {
  background-color: #7e51df; /* Cor de fundo do botão */
  border: none; /* Sem borda */
  box-shadow:
    0px 4px 6px -1px rgba(133, 98, 255, 0.4),
    0px 2px 4px -1px rgba(133, 98, 255, 0.3); /* Sombra gradiente */
}

.btn-primary:hover {
  background-color: #6349cc; /* Cor de fundo do botão ao passar o mouse */
}

.btn-block {
  border-radius: 10px; /* Borda arredondada */
  padding: 10px 0; /* Preenchimento interno */
  font-weight: bold; /* Peso da fonte */
  color: #fff; /* Cor do texto */
  text-transform: uppercase; /* Transformar texto em maiúsculas */
  letter-spacing: 1px; /* Espaçamento entre as letras */
}

h1 {
  font-size: 2.5rem; /* Tamanho da fonte do cabeçalho */
  color: #3f3f3f; /* Cor do texto */
}
